{% extends 'authorization/auth layout.html' %}

{% block title %}Login{% endblock title %}
    
{% block styles %}<link rel="stylesheet" href="/static/authorization style.css">{% endblock styles %}
    
{% block content %}
    <main class="main">
    <div class="form">
        <h1 id=h1_reg>Login</h1>

        <form id="user_data" method="post"> 
        <input type="text" class="user_data_form_el" placeholder="Username" name="username">
        <input type="password" class="user_data_form_el" placeholder="Password" name="password">
    </form>
    
    {% if password_err == 1 %}
        <p style="color: red; margin: 0px 80px;">Oops, wrong password!</p>
    {% elif password_err == 2 %}
        <p style="color: red; margin: 0px 80px;">Oops, that user doesn't exist!</p>
    {% endif %}
        
    <button id="submit" type="submit" form="user_data">Let's start!</button>

    <div class="reg">
        <p style="display: inline-block" for="to_reg">New to FRPokedex?</p>
        <a href="registration">Sign up!</a>
    </div>
    </div>
    </main>
{% endblock content %}
    